<app-modal-content *ngIf="modalShow">
  <app-user-form></app-user-form>
</app-modal-content>

<app-navbar></app-navbar>

<main class="container">
  <section class="row mt-5">
    <app-user-card *ngFor="let user of users" [user]="user" class="col-lg-6 col-sm-12 mb-3"></app-user-card>
  </section>
</main>
