<div class="upload">
  <label class="label">
    <input class="upload__input" type="file" (change)="setFileInput($event)" />
    <figure class="upload-avatar">
      <img
        [src]="currentImage"
        alt="user avatar"
        class="upload-avatar__img"
      />
      <figcaption class="upload-avatar__caption">
        <img
          class="upload-avatar__caption-img"
          src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png"
        />
      </figcaption>
    </figure>
  </label>
</div>
