<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/users">
    <img
      src="assets/images/blue-crown.svg"
      width="30"
      height="30"
      alt="Brand logo"
    />
  </a>
  <div class="form-inline">
    <a class="btn btn-outline-success mr-2" routerLink="/users/add">Add user</a>
    <button
      (click)="logout()"
      class="btn btn-outline-danger mr-2"
      type="button"
    >
      Logout
    </button>
  </div>
</nav>
