.login
  width: 24em
  display: flex
  flex-direction: column
  align-items: center
  padding: 2rem

.login__logo
  max-width: 120px
  margin-bottom: 2em

.login__title
  font-size: 24px
  color: var(--main-title)

.login__btn
  background-image: linear-gradient(to right, var(--primary-gradient-btn) , var(--secondary-gradient-btn))
  border-radius: 20px
  padding: .5em 1rem
  font-size: 14px
  color: #fff

