<form
  class="login"
  autocomplete="off"
  [formGroup]="loginForm"
  (ngSubmit)="send()"
>
  <img
    class="login__logo mt-5 mb-5"
    src="assets/images/blue-crown.svg"
    alt="login logo"
  />
  <h1 class="login__title">¡Welcome back!</h1>
  <div class="form__group field">
    <input
      class="form__field"
      formControlName="email"
      id="email"
      placeholder="email"
      type="email"
    />
    <label for="email" class="form__label">E-mail</label>
  </div>

  <div class="form__group field mb-3">
    <input
      class="form__field"
      formControlName="password"
      id="password"
      placeholder="Password"
      type="password"
    />
    <label for="password" class="form__label">Password</label>
  </div>
  <button type="submit" class="btn login__btn mb-3">Iniciar sesión</button>
</form>
