<form
  class="form"
  autocomplete="off"
  [formGroup]="userForm"
  (ngSubmit)="send()"
>
  <div class="user-form__avatar">
    <app-file-img (file)="getFile($event)"></app-file-img>
  </div>

  <div class="d-flex">
    <div class="form__group field mr-3">
      <input
        class="form__field"
        formControlName="name"
        id="name"
        placeholder="name"
        type="text"
      />
      <label for="name" class="form__label">Name</label>
    </div>

    <div class="form__group field">
      <input
        class="form__field"
        formControlName="surname"
        id="surname"
        placeholder="surname"
        type="text"
      />
      <label for="surname" class="form__label">Surname</label>
    </div>
  </div>

  <div class="d-flex">
    <div class="form__group field mr-3">
      <input
        class="form__field"
        formControlName="entity"
        id="entity"
        placeholder="entity"
        type="text"
      />
      <label for="entity" class="form__label">Entity</label>
    </div>

    <div class="form__group field">
      <input
        class="form__field"
        formControlName="password"
        id="password"
        placeholder="password"
        type="password"
      />
      <label for="password" class="form__label">Password</label>
    </div>
  </div>

  <ng-container *ngIf="currentAction === 'add'">
    <div class="d-flex">
      <div class="form__group field mr-3">
        <input
          class="form__field"
          formControlName="password2"
          id="password2"
          placeholder="Repeat password"
          type="password"
        />
        <label for="password2" class="form__label">Repeat password</label>
      </div>

      <div class="form__group field">
        <input
          class="form__field"
          formControlName="document"
          id="document"
          placeholder="Document"
          type="number"
        />
        <label for="document" class="form__label">Document</label>
      </div>
    </div>

    <div class="d-flex">
      <div class="form__group field mr-3">
        <input
          class="form__field"
          formControlName="username"
          id="username"
          placeholder="Username"
          type="text"
        />
        <label for="username" class="form__label">Username</label>
      </div>

      <div class="form__group field">
        <input
          class="form__field"
          formControlName="email"
          id="email"
          placeholder="E-mail"
          type="email"
        />
        <label for="email" class="form__label">E-mail</label>
      </div>
    </div>
  </ng-container>

  <div class="d-flex">
    <button type="submit" class="btn btn-primary mt-4 px-4">Send</button>
    <a routerLink="/users" class="btn btn-secondary mt-4 ml-4">Cancel</a>
  </div>
</form>
