<div class="card card-container p-3">
  <div class="col-lg-2 col-sm-2">
    <app-user-avatar
      [altText]="user.name"
    ></app-user-avatar>
  </div>
  <div class="col-lg-4 col-sm-4">
    <h2 class="card-title h6 m-0">{{ user.name }} {{ user.surname}}</h2>
    <p class="text-muted small m-0">C.C. {{ user.document }}</p>
  </div>
  <div class="col-lg-4 d-none d-sm-block">
    <h2 class="card-title h6 m-0">Email</h2>
    <p class="text-muted small m-0">{{ user.email }}</p>
  </div>
  <div class="col-lg-2 col-sm-2">
    <a
      routerLink="/users/edit/{{ user.id }}"
      class="btn btn-outline-secondary card-container__btn"
    >
      <img
        alt="edit button"
        class="card-container__icon"
        src="assets/images/edit-icon.svg"
      />
    </a>
  </div>
</div>
