.card-container
  display: flex
  flex-direction: row
  align-items: center
  border-radius: 8px
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2)
  &:hover
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3)

.card-container__btn
  border: none
  border-radius: 50%

.card-container__icon
  max-width: 1em
