.login-container
  display: flex
  justify-content: center
  align-content: center
  height: 100vh

app-login-form
  background-color: #fff
  border-top-left-radius: 40%
  border-bottom-right-radius: 40%
