<div class="modal-container fade show" aria-modal="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h5">User form</h1>
      </div>
      <div class="modal-body px-4">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
