.user-avatar
  width: 60px
  height: 60px
  border-radius: 50%
  box-shadow: 3px 3px 10px #2121211a

.name-avatar
  width: 60px
  height: 60px
  border-radius: 50%
  box-shadow: 3px 3px 10px #2121211a
  background: #eee
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  margin: 0px auto
  outline: none
  padding: 3%

.name-avatar__span
  color: var(--main-title)
  font-size: 1rem
  font-weight: 600
