/* You can add global styles to this file, and also import other style files */

@font-face
  font-family: Poppins
  src: url(assets/fonts/Poppins.ttf)

:root
  --main-bg: #0288D1
  --primary-gradient-btn: #1978D4
  --secondary-gradient-btn: #2095f2
  --main-font-family: Poppins
  --main-title: #212529
  --input-color: #808080

*
  font-family: var(--main-font-family)

body
  background-color: var(--main-bg)

//  Form styles

.form
  display: flex
  flex-direction: column
  align-items: center

.form__group
  position: relative
  padding: 15px 0 0
  margin-top: 10px
  width: 80%

.form__field
  width: 100%
  border: 0
  border-bottom: 2px solid var(--input-color)
  outline: 0
  font-size: 1rem
  color: var(--main-title)
  padding: 7px 0
  background: transparent
  transition: border-color 0.2s

  &::placeholder
    color: transparent

  &:placeholder-shown ~ .form__label
    font-size: 1rem
    cursor: text
    top: 20px

.form__label
  position: absolute
  top: 0
  display: block
  transition: 0.2s
  font-size: .8rem
  color: var(--input-color)

.form__field:focus ~ .form__label
  position: absolute
  top: 0
  display: block
  transition: 0.2s
  font-size: .8rem
  color: var(--main-bg)
  font-weight: 700

app-modal-content
  display: flex
  justify-content: center
  &::after
    position: absolute
    content: ""
    z-index: 1
    width: 100%
    height: 100%
    background-color: rgb(33 37 41 / 80%)
